<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nivel 3</title>
    <link rel="stylesheet" href="./../css/styles.css">
</head>
<body>
    <div class="fog-bg"></div>
    <audio id="bg-music" src="../assets/music/misterio.mp3" loop></audio>
    <div class="music-controls">
        <button id="play-music">🔊 Música</button>
        <input type="range" id="music-volume" min="0" max="1" step="0.01" value="0.5">
    </div>
        <h1>🧩 Nivel 3 – El Acertijo del Parque</h1>
        <div class="timer">⏳ Cargando temporizador...</div>
        <p class="acertijo">"Cuando intentes salir del parque,<br> algo te impedirá el paso,<br> aunque puedes esquivarlo,<br> es mejor investigarlo."</p>
        <div class="secret-section">
            <label for="secret-word" class="secret-label">Palabra secreta encontrada:</label><br>
            <input type="text" id="secret-word" class="secret-input" placeholder="Escribe la palabra...">
            <br>
            <button id="validate-secret">Validar</button>
            <div class="message"></div>
            <div class="next-level"></div>
        </div>
    <script src="../js/js.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/nivel3.js"></script>
</body>
</html>