<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <title>Nivel 4 – El Enigma Visual</title>
    <link rel="stylesheet" href="./../css/styles.css">
    <div class="fog-bg"></div>
    <audio id="bg-music" src="../assets/music/misterio.mp3" loop></audio>
    <div class="music-controls">
        <button id="play-music">🔊 Música</button>
        <input type="range" id="music-volume" min="0" max="1" step="0.01" value="0.5">
    </div>
    <h1>🖼️ Nivel 4 – El Enigma Visual</h1>
    <div class="timer">⏳ Cargando temporizador...</div>
            <div class="image-section">
                <img src="./../assets/img/fuente1838.jpg" alt="Enigma visual" class="enigma-img">
                <p class="intro-text">Observa la imagen y descubre a qué lugar debes dirigirte para continuar tu aventura.</p>
                <button id="confirm-location" class="confirm-location-btn">Ya estoy en el lugar</button>
                <div id="new-instructions" class="new-instructions"></div>
            </div>
            <script src="../js/nivel4.js"></script>
    <script src="../js/js.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>